@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-grey: rgba(128, 128, 128, 0.282);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

body {
  background-color: rgba(128, 128, 128, 0.282);
  transition: transform 0.3s ease-in-out;
}

/* .link:hover {
  color: rgba(128, 128, 128, 0.282);
  animation-duration: color 0.3s;
} */

/* navigation */
.button {
  position: fixed;
  top: 0;
  right: 0px;
  margin: 20px;
  z-index: 2;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger {
  width: 100%;
  &::after,
  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin: auto;
    background-color: white;
    position: relative;
  }

  &::after {
    top: -5px;
  }

  &::before {
    top: 5px;
  }
}

.burgerActive {
  &::after {
    transform: rotate(45deg);
    top: -1px;
  }

  &::before {
    transform: rotate(-45deg);
    top: 0px;
  }
}
/* end of navigation */
