@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-grey: rgba(128, 128, 128, 0.282);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: rgba(128, 128, 128, 0.282);
  // transition: transform 0.3s ease-in-out;
}
.nav {
  background-color: rgba(128, 128, 128);
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
.text-whit {
  color: rgba(128, 128, 128);
}
/* main button */
.button {
  border-radius: 4px;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;

  height: 42px;
  width: 121px;
  transition: all 0.5s;
  cursor: pointer;
}
/* main button */

@media only screen and (min-width: 768px) {
  /* navigation */
  .nav-links {
    position: relative;
  }
  .nav-links::after {
    content: "";
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  .nav-links:hover:after {
    width: 100%;
  }
  /* laptop nav button */
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: url("../public/assets/images/arrow.png");
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  /* end of  laptop nav button*/
  /* end of navigation */
}
